* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fceec8;
}
.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.left-content,
.right-content {
    flex-basis: 50%;
}

.left-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.card {
    width: 300px;
    background-color: #9edef9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgb(0, 0, 0);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.pokeinfo {
    width: 300px;
    height: 500px;
}
