* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #a41623;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.left-container {
    padding: 32px;
    background-color: rgb(245, 245, 245);
    border: 7px solid rgb(192, 192, 192);
    border-radius: 24px;
}
.left-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-right: 49px;
    margin-left: 49px;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
}
.right-container {
    background-color: rgb(245, 245, 245);
    border: 7px solid rgb(192, 192, 192);
    border-radius: 24px;
    margin: 6rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
}
.right-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    margin-bottom: 12px;
}
.prev-next-btn {
    display: flex;

    gap: 12px;
}
.nav-btn {
    flex: 50%;
}
.card {
    background-color: #9edef9;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgb(0, 0, 0);
    padding: 12px;
    box-sizing: border-box;
    width: 200px;
    cursor: pointer;
    text-align: center;
}

.pokeinfo {
    width: 300px;
    height: 500px;
}

.img-container {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.img-container img {
    height: 100%;
    width: 100%;
}
